#calendar-wrapper {
  max-width: 1200px;
  margin: 200px auto 100px;
}
#calendar {
  /* -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); */
  /* max-width: 1200px; */
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  border: 0.8px solid var(--light-grey);
}
:root {
  --blue: #4ecbd3;
  --light-grey: #d9d9d9;
  /* 日期顏色 */
  --dayOff: #f6f6f6;
  --dayWeekend: #f1f7f8;
  --dayOffText: #bab8b8;
}

/* -------- 步驟進度條 -------- */
.stepper-wrapper {
  max-width: 100%;
  /* width: 66.666666%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 500;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.progress {
  border-bottom: 2px dashed var(--blue);
  position: absolute;
  top: 25px;
  left: 20px;
  width: 0%; /*一開始不會有進度，所以設0%*/
  z-index: 1;
  transition: width 0.5s linear;
  background: #fff;
}
.stepper-wrapper::before {
  content: "";
  border-bottom: 2px dashed var(--light-grey);
  position: absolute;
  width: 90%;
  top: 25px;
  left: 20px;
  z-index: -1;
}
.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  border: 8px solid var(--light-grey);
  margin-bottom: 20px;
  font-family: "Montserrat";
}
.stepper-item.active {
  color: var(--blue);
  transition: 0.7s linear;
}
.stepper-item.completed .step-counter {
  color: var(--blue);
  background-color: #fff;
  border: 8px solid var(--blue);
  transition: 0.7s linear;
}
/* ------------------ checkBox ------------------ */
.checkBox {
  margin: 40px auto;
  border-radius: 20px;
  border: 0.8px solid #d9d9d9;
  padding: 20px;
  line-height: 1;
}
.checkBox p {
  display: inline-block;

  font-weight: 500;
  margin-right: 50px;
}
.radio-input {
  display: none;
}
.radioBox {
  display: inline-block;
  margin-right: 20px;
}
.radio-label {
  cursor: pointer;
  padding-left: 2.2em;
  position: relative;
}
.radio-button {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  display: inline-block;
  border: 1px solid var(--blue);
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 0;
}
.radio-button::after {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--blue);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: opacity 0.2s;
}
.radio-input:checked ~ .radio-label .radio-button::after {
  opacity: 1;
}
/* ------------------ 日曆開始 ------------------ */
.header {
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-grey);
}
.header h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.168px;
}
.weekdays-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.weekday {
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.left,
.right {
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid #333;
  border-width: 0px 2.5px 2.5px 0;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  transform: rotate(135deg);
  left: 20px;
}

.right {
  transform: rotate(-45deg);
  right: 20px;
}
.week {
  display: flex;
  justify-content: center;
}
.month.new {
  width: 100%;
  margin: 0 auto;
  /* opacity: 1; */
  /* -webkit-animation: fadeIn 1s ease-out; */
}
.day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  max-width: 100%;
  width: 100%;
  height: 140px;
  background-color: #fff;
  border-radius: 6.8px;
  margin: 6px;
  overflow: hidden;
}
.day.dayOpen {
  cursor: pointer;
  border: 2px solid var(--blue);
}

/* 上下個月的日期 */
.day.other {
  visibility: hidden;
  color: var(--dayOffText);
  background: var(--dayOff);
}
.day.today {
  /* color: rgba(156, 202, 235, 1); */
}
.day.off {
  color: var(--dayOffText);
  background: var(--dayOff);
}
.day.weekend {
  background: var(--dayWeekend);
  color: var(--dayOffText);
}

.day-name {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  text-align: left;
}

.day-number {
  text-align: right;
  font-size: 14px;
  color: #5c5c5c;
  line-height: 1;
  font-weight: 500;
}

.day .day-events {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.day .day-events span {
  display: inline-block;
  max-width: 100%;
  width: 20px;
  height: 20px;
  /* margin: 0 3px; */
  border-radius: 50%;
}

.blue {
  background: #4ecbd3;
  /* border: 2px solid #4ecbd3; */
}
.yellow {
  background: #ffc727;
  /* border: 2px solid #ffc727; */
}
.purple {
  background: #b991ed;
  /* border: 2px solid #b991ed; */
}

/* 按鈕 */
.step-btn {
  margin: 0 auto;
  text-align: center;
}
.btn {
  width: 200px;
  padding: 20px 40px;
  font-weight: 700;
  border-radius: 48.965px;
  cursor: pointer;
}
.prev-btn {
  color: var(--blue);
  background: #fff;
  border: 1px solid var(--blue);
}
.next-btn {
  color: #fff;
  background: var(--blue);
  border: none;
  transition: all 0.4s ease-in-out;
}
.next-btn:hover {
  background: #7fdee5;
}
.btn:focus {
  outline: 0;
}
.prev-btn:disabled {
  cursor: auto;
  color: var(--light-grey);
  border: 1px solid var(--light-grey);
}
.prev-btn:disabled path {
  fill: var(--light-grey);
}

.next-btn:disabled {
  background: var(--light-grey);
}

.booking_button {
  margin-top: 68px;
  border-radius: 50px;
  background: var(--blue);
  font-weight: 700;
  font-size: 20px;
}
.booking_button:hover {
  background: #333;
}
.booking_button:disabled {
  cursor: not-allow;
  background-color: var(--light-grey);
}
