@import url("reset.css");

$primary: #e60603;
body {
  background: #000;
  color: #fff;
}
.wrapper {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 32px;
}
.row {
  display: flex;
  justify-content: space-between;
}

//自定義 star
.banner_pic {
  margin: 0 auto;
}
header {
  align-items: center;
}
